@model IEnumerable<paskaita.Models.Account>
@using paskaita.Models

@{
    ViewBag.Title = "Studentų sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(ViewBag.ClassId==0)
{
    ViewBag.ClassId=TempData["ClassId"];
}

<h2>@ViewBag.Title, @ViewBag.ClassId klasės</h2>


@if(TempData["Sucess"]!=null)
            {
                <p>@TempData["Sucess"]</p>
            }
<table class="table">
    <tr>
        
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Pažymys</th>
        <th>Klasė</th>
        <th>Pavadinimas</th>
    </tr>

    @foreach (var acc in ViewData["Accounts"] as List<Course.ClassStudents>)
    {
        <tr>
                
                <td>@acc.account_name</td>
                
                <td>@acc.account_surname</td>
                <td>@acc.student_grade</td>
                <td>@acc.class_id</td>
                <td>@acc.Title</td>
                
                
            
        </tr>
        
    }

</table>
<div>
    @Html.ActionLink("Atgal", "Index", "Home")
</div>
